<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- DB 조회결과 snake_case -> camelCase 변환 -->
        <setting name="mapUnderscoreToCamelCase" value="true" />
    </settings>

    <typeAliases>
        <typeAlias alias="AuthUserVO" type="com.numble.vo.AuthUserVO"/>
        <typeAlias alias="UserAuthReq" type="com.numble.domain.request.UserAuthReq"/>
        <typeAlias alias="UserInfoVO" type="com.numble.domain.response.UserInfoVO"/>
    </typeAliases>

    <mappers>
        <mapper resource="mapper/mapper-seek.xml"></mapper>
        <mapper resource="mapper/mapper-collect.xml"></mapper>
    </mappers>
</configuration>